{% extends "site.html" %}
    {% block content %}
<div class="c-project_navigation">
{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('achievements').order('postDate DESC') %}
{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}
{# And make sure to only output the links if the element exists #}
{% if prevEntry %}<a class="c-project_navigation_prev" href="{{ prevEntry.url }}"><span>Previous</span></a>{% endif %}
{% if nextEntry %}<a class="c-project_navigation_next" href="{{ nextEntry.url }}"><span>Next</span></a>{% endif %}
</div>

		{# CONTACT-US 	#} 	{% include '_components/template-zero' with {'sectionType': 'c-project_single', 'templateOptionZero': 'project_content','templateOptionOne':'project_more-info'} %}
<section class="c-gallery">
	<div class="o-wrapper">
		<h2>Images du projet</h2>
{# 	<div class="grid effect-2" id="grid">
		{% for img in entry.projectGalleryImages.all()%}
			<div class="item"><img class="c-gallery_img" src="{{img.url()}}" alt="{{img.title}}"></div>
		{% endfor %}
	</div> #}

{% for block in entry.gallery.all() %}

    {% if block.type == "bloc" %}
    	<div class="c-grid-container {% if loop.index is divisible by(2) %}-even{% else %}-odd{% endif %}">
        	<div class="c-grid-container__item -vertical"><div class="o-ratio o-ratio--image-vertical" style=" background: url({{ block.galleryImgVertical.one().url() }})"></div>
        </div>
        	<div class="c-grid-container__item -horizontal -first">
				<div class="o-ratio o-ratio--image-horizontal" style="background: url({{ block.galleryImgHorizontal.one().url() }})"></div>
			</div>
        	<div class="c-grid-container__item -horizontal -last">
				<div class="o-ratio o-ratio--image-horizontal" style="background: url({{ block.galleryImgHorizontal.last().url() }})"></div>
			</div>			
		</div>
    {% endif %}

{% endfor %}
</div>


</section>
	{% endblock %}