<div class="c-banner">
	{% if entry is defined %}
		{% if entry.type == "home" %}
		<div class="c-banner_video">
			<iframe src="https://player.vimeo.com/video/330601081?background=1&autoplay=1&loop=1&byline=0&title=0"
			frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow=autoplay></iframe>
			<div class="c-banner_content">
				<p class="c-title-page">{{entry.headerTitle}}</p>
			</div>
			<svg class="c-go-down-button" width="66px" height="66px" viewBox="0 0 66 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <g id="go-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			        <g id="ACCUEIL" transform="translate(-690.000000, -696.000000)">
			            <g id="excavation-l-martel-inc_go-down" transform="translate(690.000000, 696.000000)">
			                <circle id="Oval" fill="#C5A37E" fill-rule="nonzero" cx="33" cy="33" r="33"></circle>
			                <g id="go-back-left-arrow-copy-7" transform="translate(33.500000, 34.000000) rotate(-90.000000) translate(-33.500000, -34.000000) translate(19.500000, 26.500000)"></g>
			                <polygon id="arrow" fill="#000000" fill-rule="nonzero" transform="translate(33.477374, 34.457558) rotate(-90.000000) translate(-33.477374, -34.457558) " points="47.0198167 33.522886 23.4866852 33.522886 28.7208473 28.2887238 27.4123068 26.9801833 19.9349323 34.4575578 27.4123068 41.9349323 28.7208473 40.6263917 23.4866852 35.3922296 47.0198167 35.3922296"></polygon>
			            </g>
			        </g>
			    </g>
			</svg>
		</div>
		{% else %}
			<div class="c-banner_hero-image">
				{% set linkedEntry = craft.entries.id(4).first() %}
				<div class="c-hero-image" style="background: url('{{info.bannerImg.one().url()}}');">
					<div class="c-banner_content">
						{% if entry.type == "achievements" %}
							<p class="c-subtitle-page">Nos projets</p>
							<p class="c-title-page">{{entry.services.one().title}}</p>
						{% elseif entry.type == "services" %}
							<p class="c-subtitle-page">Nos services</p>
							<h1>{{entry.title}}</h1>							
						{% else %}
							<p class="c-title-page">{{entry.title}}</p>
						{% endif %}	
						
					</div>
				</div>

			</div>
		{% endif %}
				{% else %}
<div class="c-banner_hero-image">

				{% set linkedEntry = craft.entries.id(4).first() %}
				<div class="c-hero-image" style="background: url('{{info.bannerImg.one().url()}}');">
					<div class="c-banner_content">
						<p class="c-title-page">{{"Our projects"|t}}</p>
					</div>
				</div>

			</div>		
	{% endif %}
</div>