<h2>{{entry.title}}</h2>
<ul class="c-accordion_ul">
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Job description"|t}}</h3>
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>						
		</div>
		<div class="c-accordion_content">
			{{entry.careerJobDescription}}
		</div>
	</li>
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Qualifications & knowledge"|t}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>				
		</div>
		<div class="c-accordion_content">
			{{entry.careerQualificationsKnowledge}}
		</div>
	</li>
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Advantages"|t}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>				
		</div>
		<div class="c-accordion_content">
			{{entry.careerAdvantages}}
		</div>
	</li>

{% for block in entry.careerOthersElements %}
    {% if block.type == "careerOthersElementsTab" %}
		<li class="c-accordion_li">
			<div class="c-accordion_title">
				<h3>{{block.careerOthersElementsTitle}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>					
			</div>
			<div class="c-accordion_content">
				{{block.careerOthersElementsContent}}
			</div>
		</li>
    {% endif %}
{% endfor %}
</ul>
<div class="c-form-accordion">
	<h3>{{"Apply now"|t}}</h3>
	{# CONTACT-US 	#} 	{% include '_components/form-career' %}						
</div>						