<div>
	<ul class="o-list-bare">
		{% if entry.careerPlace|length %}<li><p class="c-sidebar_title">Lieu</p><span>{{entry.careerPlace}}</li>{% else %}</span>{% endif %}
		
		{% if entry.careerTypesEmployment|length %}<li><p class="c-sidebar_title">Type de poste</p><span>{{entry.careerTypesEmployment}}</li>{% else %}</span>{% endif %}
		
		{% if entry.careerSchedule|length %}<li><p class="c-sidebar_title">Horaire</p>
				{% for schedule in entry.careerSchedule%}
					{% if schedule.type == "careerScheduleTab" %}
						{% if schedule.careerScheduleType|length %}<span>{{schedule.careerScheduleType}}</span>{% endif %}
						{% if schedule.careerScheduleType|length and schedule.careerScheduleWeek|length %}<br>{% endif %}
						{% if schedule.careerScheduleWeek|length %}<span>{{schedule.careerScheduleWeek}}</span>{% endif %}
					{% endif %}
				{% endfor %}
						</li>
			{% endif %}	

		{% if entry.careerEntryOperation|length %}<li><p class="c-sidebar_title">Entrée en fonction</p><span>{{entry.careerEntryOperation}}</li>{% else %}</span>{% endif %}		
		
		{% if entry.careerSalary|length %}<li><p class="c-sidebar_title">Salaire</p><span>{{entry.careerSalary}}</li>{% else %}</span>{% endif %}		
		
	</ul>
</div>