<h2>{{entry.title}}</h2>

<div>
	<ul class="o-list-bare">
		{% if entry.careerPlace|length %}<li><p class="c-sidebar_title">Lieu</p><span>{{entry.careerPlace}}</span></li>{% endif %}
		
		{% if entry.careerTypesEmployment|length %}<li><p class="c-sidebar_title">Type de poste</p><span>{{entry.careerTypesEmployment}}</span></li>{% endif %}
		
		{% if entry.careerSchedule|length %}<li><p class="c-sidebar_title">Horaire</p>
				{% for schedule in entry.careerSchedule%}
					{% if schedule.type == "careerScheduleTab" %}
						{% if schedule.careerScheduleType|length %}<span>{{schedule.careerScheduleType}}</span>{% endif %}
						{% if schedule.careerScheduleType|length and schedule.careerScheduleWeek|length %}<br>{% endif %}
						{% if schedule.careerScheduleWeek|length %}<span>{{schedule.careerScheduleWeek}}</span>{% endif %}
					{% endif %}
				{% endfor %}
						</li>
			{% endif %}	

		{% if entry.careerEntryOperation|length %}<li><p class="c-sidebar_title">Entrée en fonction</p><span>{{entry.careerEntryOperation}}</li></span>{% endif %}		
		
		{% if entry.careerSalary|length %}<li><p class="c-sidebar_title">Salaire</p><span>{{entry.careerSalary}}</li></span>{% endif %}		
		
	</ul>
</div>


<ul class="c-accordion_ul">
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Job description"|t}}</h3>
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>						
		</div>
		<div class="c-accordion_content">
			{{entry.careerJobDescription}}
		</div>
	</li>
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Qualifications & knowledge"|t}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>				
		</div>
		<div class="c-accordion_content">
			{{entry.careerQualificationsKnowledge}}
		</div>
	</li>
	<li class="c-accordion_li">
		<div class="c-accordion_title">
			<h3>{{"Advantages"|t}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>				
		</div>
		<div class="c-accordion_content">
			{{entry.careerAdvantages}}
		</div>
	</li>

{% for block in entry.careerOthersElements %}
    {% if block.type == "careerOthersElementsTab" %}
		<li class="c-accordion_li">
			<div class="c-accordion_title">
				<h3>{{block.careerOthersElementsTitle}}</h3>	
			<div class="c-accordion-toggle -hidden">
				<div class="c-accordion-toggle-x">
					<div class="horizontal"></div>
					<div class="vertical"></div>
				</div>
			</div>					
			</div>
			<div class="c-accordion_content">
				{{block.careerOthersElementsContent}}
			</div>
		</li>
    {% endif %}
{% endfor %}
</ul>
<div class="c-form-accordion">
	<h3>{{"Apply now"|t}}</h3>
	{# CONTACT-US 	#} 	{% include '_components/form-career' %}						
</div>						