<section class="o-section c-home_projets">
	<h2>{{"Our "|t}}<span class="c-title-w-color">{{"projects"|t}}</span></h2>
	{% set pages = craft.entries.section('achievements').level(1).limit(3).all() %}
    <ul class="o-layout">
        {% for page in pages %}
            <li class="o-layout__item c-home_projects_li u-1/3@landscape-large-tablet u-1/2@portrait-large-tablet">
                <a href="{{page.url()}}">
            	   <figure>
                        {% if page.homeProjectsImg|length %}<img class="c-home_services_icon" src="{{page.homeProjectsImg.one().url}}" alt="{{page.homeProjectsImg.one().title}}">{% endif %}
                        <figcaption>
                            <h3>{{page.title}}<br>/ 0{{loop.index}}</h3>
                            <div class="c-home_projets_services">{% if page.services|length %}<h4>{{page.services.one().title}}{% endif %}</h4></div>
                        </figcaption>
            	   </figure>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>