<div>
	<ul class="o-list-bare">
		<li><p class="c-sidebar_title">Client</p>
			{% if entry.projectClient|length %}<span>{{entry.projectClient}}{% else %}{{"n/a"|t}}</span>{% endif %}
		</li>
		<li><p class="c-sidebar_title">Année</p>
			{% if entry.projectYear|length %}<span>{{entry.projectYear}}{% else %}{{"n/a"|t}}</span>{% endif %}
		</li>
		<li><p class="c-sidebar_title">Lieu</p>
			{% if entry.projectPlace|length %}<span>{{entry.projectPlace}}{% else %}{{"n/a"|t}}</span>{% endif %}		
		</li>
		<li><p class="c-sidebar_title">Secteur d'activité</p>
			{% if entry.projectActivityArea	|length %}<span>{{entry.projectActivityArea	}}{% else %}{{"n/a"|t}}</span>{% endif %}		
		</li>
	</ul>
</div>