<div>
	<ul class="o-list-bare">
		{% if entry.projectClient|length %}<li><p class="c-sidebar_title">Client</p><span>{{entry.projectClient}}</li>{% else %}</span>{% endif %}
		{% if entry.projectYear|length %}<li><p class="c-sidebar_title">Année</p><span>{{entry.projectYear}}</li>{% else %}</span>{% endif %}
		{% if entry.projectPlace|length %}<li><p class="c-sidebar_title">Lieu</p><span>{{entry.projectPlace}}</li>{% else %}</span>{% endif %}		
		{% if entry.projectActivityArea	|length %}<li><p class="c-sidebar_title">Secteur d'activité</p><span>{{entry.projectActivityArea}}</li>{% else %}</span>{% endif %}		
	</ul>
</div>