<section class="o-section c-section-w-sidebar {{sectionType}}">
{% if entry.type == 'contactUs'%}	
<div class="c-google-maps">
			<div class="c-content -google-maps  u-2/3">
				{% if templateOptionZero is defined %}
					{% set template = templateOptionZero %}
					{% include "_components/" ~ template %}
				{% endif %}
			</div>
			{%endif%}	

		{% if entry.type == 'availableJobs' %}
			<div class="c-btn--back">Retour aux offres</div>
		{% endif %}

			{% if entry.type == 'contactUs' %}
			<div class="-aside">
			<aside class="c-sidebar">
				{% if templateOptionOne is defined %}
					{% set template = templateOptionOne %}
					{% include "_components/" ~ template %}
				{% endif %}
			</aside>
							{% if entry.type == 'contactUs'%}	</div>{%endif%}
				{%endif%}




		</div>		
	</div>
</section>